<div class="banner">
  <div class="container">
    <p class="cherry-red">Hi, my name is</p>
    <h2 class="big-heading" id="name">Christopher Lefrancois</h1>
    <h3 class="big-heading" id="fullstack">I am a Fullstack Developer</h3>
    <p>
      Hi, my name is Christopher Lefrancois. I am a developer specializing in building Ruby on Rails applications and currently experimenting with Node.js.
      As a freelancer, I’ve worked on diverse projects, continuously honing my skills. Now, I’m seeking a full-time position at a company where I can grow as a programmer and take on new challenges.
    </p>
  </div>
</div>
