<div class="banner">
  <div class="container">
    <p class="cherry-red">Hi, my name is</p>
    <h2 class="big-heading" id="name">Christopher Lefrancois</h1>
    <h3 class="big-heading" id="fullstack">I am a Fullstack Developer</h3>
    <p>
      I am a fullstack developer specializing in Ruby on Rails and currently experimenting with python.
      I am currently working as a freelancer, but I am looking for a full-time job in a company that can help me grow as a programmer
    </p>
  </div>
</div>
