<div class="banner">
  <div class="container">
    <p>Hi, my name is</p>
    <h2 class="big-heading" id="name"></h1>
    <h3 class="big-heading" id="fullstack"></h3>
    <p>
      blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
      blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
      blah blah blah blah blah blah blah blah blah blah blah blah
    </p>
  </div>
</div>
