// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "info";
@import "projects";
@import "icon";
@import "contact";
@import "footer";

body {
  background-color: $navy;
}

h2 {
  color: rgb(210, 4, 45);;
}

@media only screen and (max-width: 767px) {
  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .banner p {
    text-align: center;
  }
}
