.info-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

// .info-card img {
//   max-width: 400px;
//   max-height: 400px;
//   position: relative;
//   bottom: 80px;
// }

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  text-align: end;
}

.icon-size {
  font-size: 75px;
  color: $lightest-slate;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: 767px) {
  .info-card {
    display: block;
    grid-template-columns: none;
  }

  .card-text {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .info-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

}
