
.navbar-lewagon {
  background-color: $navy;
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-link {
  color: #E6EBFF;
}

.navbar-lewagon .nav-link:hover {
  color: #FF4D4D;
}
